.App {
  height: 100vh;
  overflow: hidden !important;
  
}

.introBox {
  border: 2px solid black;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  background-image: linear-gradient(to right, rgb(162, 234, 142) , rgb(118, 203, 240));
  
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.button-75 {
  align-items: center;
  background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
  border: 0;
  border-radius: 10px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: "Codec cold",sans-serif;
  font-size: 16px;
  font-weight: 700;
  height: 54px;
  justify-content: center;
  letter-spacing: .4px;
  line-height: 1;
  max-width: 30%;
  min-width: 15%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 3px;
  margin-left: 35%;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  
  
  
}

.button-75:active {
  outline: 0;
}

.button-75:hover {
  outline: 0;
}

.button-75 span {
  transition: all 200ms;
}

.button-75:hover span {
  transform: scale(.9);
  opacity: .75;
}

@media screen and (max-width: 991px) {
  .button-75 {
    font-size: 15px;
    height: 50px;
  }

  .button-75 span {
    line-height: 50px;
  }
}

.button-76 {
  align-items: center;
  background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
  border: 0;
  border-radius: 10px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: "Codec cold",sans-serif;
  font-size: 14px;
  font-weight: 700;
  height: 54px;
  justify-content: center;
  letter-spacing: .4px;
  line-height: 1;
  max-width: 30%;
  min-width: 250px !important;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  margin-left: 25%;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
  
  
}

.button-76:active {
  outline: 0;
}

.button-76:hover {
  outline: 0;
}

.button-76 span {
  transition: all 200ms;
}

.button-76:hover span {
  transform: scale(.9);
  opacity: .75;
}

@media screen and (max-width: 991px) {
  .button-76 {
    font-size: 15px;
    height: 50px;
  }

  .button-76 span {
    line-height: 50px;
  }
}

.titleMicroReactor {
  font-family: 'Anybody';
  font-size: xxx-large;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
  padding-top: 15px;
  font-weight: bold;
}
.buttonContainer {
  display: grid;
  grid-template-rows: 75px 50px 25px;
}

.introItem1 {
  
}

.introItem2 {

}



.introItem3 {
  margin-left: auto;
  margin-right: 15px;
  color: blue !important;
  text-decoration: underline !important;
  
  
  
  
}

.introItem3:hover {
  cursor: pointer;
}

.buttonContainerTwo {
  display: grid;
  grid-template-columns: 50% 50%;
  
}

.buttonsSign1 {
  transform: translate(77%, 0px);
}

.buttonsSign2 {
  transform: translate(-77%, 0px);
  

}

.home {
  height: 100vh;
  width: auto;
  
  background-image: url(./components/reactor.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  
}

.layout {
 
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(to right, rgb(162, 234, 142) , rgb(118, 203, 240));
  overflow: hidden;
  height: 9vh;

}

.slider ul{
  width: 100%;
  transition: 1s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  
  

}


.slider ul li {
  margin-block: 0.5rem;
  margin-inline: 3rem;
  list-style: none;
}

.slider ul li a {
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  font-weight: bolder;
  
}



.menu-icon .menu {
  display: none;
  color: #fff;
  font-size: 60px;
  cursor: pointer;
}

.closed {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  display: none;
  
}
.close {
  cursor: pointer;
  color: white;
  
  

}



.closed .close {
  font-size: 40px;
}

@media (max-width:900px) {

  .slider {

    position: fixed;
    min-width: 100%;
    height: 100vh;
    top: -100%;
    background-image: linear-gradient(to right, rgb(162, 234, 142) , rgb(118, 203, 240));
    transition: 1s ease;
  }


  .slider ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;

  }

  .slider ul li {
    margin-block: 2.5rem;
  }

  .slider ul li a {
    font-size: 25px;
    text-decoration: none;
    color: #fff;
  }

  .slider.active {
    top: 0;
    transition: 1s ease;

  }

  .menu-icon .menu {
    display: block;
    color: #fff;
    font-size: 50px;
    cursor: pointer;
  }

  .closed {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    
  }
  .close {
    cursor: pointer;
    color: white;
    
    

  }

  .closed .close {
    font-size: 40px;
  }


  
}

.error {
  border: 2px solid black;
  border-radius: 5px;
  font-size: larger;
  text-align: center;
  width: 30%;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 200%);
  background-color: rgb(250, 179, 179);
  color: red;

  
}

.successMessage {
  border: 2px solid black;
  border-radius: 5px;
  font-size: larger;
  text-align: center;
  width: 30%;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 200%);
  background-color: rgb(179, 242, 177);
  color: rgb(4, 85, 9);
}

.createContainer {
  display: grid;
  height: 100vh;
  grid-template-columns: 33.3vh, 33.3vh, 33.3vh;
  grid-template-rows: 91vh;
  grid-template-areas:
    "createCol1 createCol2 createCol3";
  
}

.createCol1 {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 
    "createButton1"
    "createButton2"
    "createButton3"
    "createButton4"
    "createButton5"
    "createButton6";
  padding-top: 25px;
  border: #f34079 2px solid;
}

.createCol2 {
  text-align: center;
  border: #f34079 2px solid;
}

.createCol3 {
  text-align: center;
  border: #f34079 2px solid;
}

@media only screen and (max-width:992px) {
  .createContainer{
    grid-template-columns: 50vh 50vh;
    grid-template-rows: 100vh 100vh;
    grid-template-areas:
      "createCol1 createCol2"
      "createCol3 createCol3";
  }

  .App {
    height: 100vh;
    overflow: auto !important;
    
  }
  
}

@media only screen and (max-width:650px) {
  .createContainer{
    grid-template-columns: 100vh;
    grid-template-rows: 100vh 100vh 100vh;
    grid-template-areas:
      "createCol1"
      "createCol2"
      "createCol3";
  }

  .button-75 {
    
  }
  
}

.editElectrodeBox {
  height: 35vh;
  list-style: none;
  overflow-y: scroll;
  background-image: linear-gradient(to left, rgb(162, 234, 142) , rgb(118, 203, 240));
  padding: 0px;



}



.electrodeBoxItem {
  padding: 20px;
  cursor: pointer;
  
}




.selected {
  background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
  color: whitesmoke;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
  
}

.viewContainer {
  display: grid;
  width: 100vh;
  height: auto;
  grid-template-columns: 100vh;
  grid-template-rows: 30vh 45vh;
  grid-template-areas: 
    "viewCol1"
    "viewCol2";
  
}

.viewCol1 {
  border: #f34079 solid 2px;
  width: 210vh;
  height: 100vh;

}

.viewCol2 {
  border: #f34079 solid 2px;
  width: 210vh;
  height: 100vh;
}

.viewContainer2 {
  display: grid;
  grid-template-columns: 68vh 68vh 68vh;
  grid-template-rows: 100vh;
}

.view2Col1 {
  border: #f34079 solid 2px;
}

.view2Col2 {
  border: #f34079 solid 2px;
}

.view2Col3 {
  border: #f34079 solid 2px;
}

.errorContainer {
  display: grid;
}